<!DOCTYPE html>
<html>
  <head>
    <title> Purchase Form</title>
  </head>
  <body>
    <form method="post" action="/checkout">
      <input type="name" 
      
      
      
    </form>
    
    
    
  </body>
</html>
